<div class="container" style="padding-top: 2px;height: 55px;width: 1500px">
    <p>Menu</p>

    <div class="input-group col-md-4">
        <input class="form-control py-2" type="search" value="search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    <p></p>
</div>
<div class="container-fluid" style="padding-bottom: 50px;background-color: rgb(252, 253, 253);border-style: outset;">
    <a routerLink="/dashChild">DashBoard</a>
    <router-outlet></router-outlet>
</div>